<mat-toolbar>
    <div class="d-flex align-items-center">
        <button mat-icon-button aria-label="Example icon-button with menu icon" (click)="openContent()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
    </div>
    <div class="ms-auto">
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </div>
</mat-toolbar>

<mat-sidenav-container
    class="example-container" (click)="close('sidenav')">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content [class.show]="check"></mat-sidenav-content>
</mat-sidenav-container>